<?xml version="1.0"?>
<Settings>
  <EmailSettings>
    <SMTPServer>smtp.exchangeserverpro.net</SMTPServer>
    <SMTPPort>25</SMTPPort>
    <MailFrom>exchangeserver@exchangeserverpro.net</MailFrom>
    <MailTo>administrator@exchangeserverpro.net</MailTo>
  </EmailSettings>
  <Exclusions>
    <DBName></DBName>
    <DBName></DBName>
  </Exclusions>
  <OtherSettings>
    <ThresholdMonday>48</ThresholdMonday>
    <ThresholdOther>24</ThresholdOther>
  </OtherSettings>
</Settings>
